.main-section {
  width: 100%;
  min-height: 798px;
  background: $blue-dark;
  padding-top: 162px;
  position: relative;

  @include is-tablet {
    padding-top: 126px;
    min-height: 0;
    padding-bottom: 20px;
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    top: -785px;
    right: -680px;
    width: 1293px;
    height: 1293px;
    border-radius: 50%;
    background: #1C3D5B;
  }

  &__font {
    &--title {
      color: $white;
    }

    &--text {
      color: $white;
    }
  }

  &__info {
    width: 100%;
    max-width: 567px;
    padding-top: 53px;

    @include is-tablet {
      padding-top: 0;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__image {
    width: 100%;
    max-width: 493px;

    @include is-tablet {
      max-width: 40%;
      margin-left: 20px;
      display: flex;
      align-items: center;
    }
  }

  &__pic {
    width: 100%;
  }

  &__buttons{
    margin-top: 40px;
    display: flex;
    gap: 24px;

    @include is-tablet {
      flex-wrap: wrap;
    }
  }

  &__logos {
    margin-top: 60px;
  }
}