.list-text-section {

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1167px;
    position: relative;
    right: -25px;
    gap: 15px;

    @include is-tablet {
      position: static;
    }
  }

  &__content {
    width: 493px;
    padding-top: 65px;

    @include is-tablet {
      width: auto;
      padding-top: 0;
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    margin-bottom: 56px;

    @include is-tablet {
      margin-bottom: 36px;
    }
  }

  &__image {
    width: 100%;
    max-width: 494px;

    @include is-tablet {
      max-width: 40%;
    }
  }

  &__pic {
    width: 100%;
  }
}