.mobile-hide {
  @include is-mobile {
    display: none !important;
  }
}

.desktop-tablet-hide {
  @include is-desktop {
    display: none !important;
  }
}

.desktop-hide {
  @include is-desktop {
    display: none !important;
  }
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}