.fade {
  &-enter-active {
    transition: opacity $transTime300ms;
  }

  &-leave-active {
    transition: opacity $transTime300ms;
  }

  &-enter {
    opacity: 0;
  }

  &-leave-to {
    opacity: 0;
  }
}
.fade-up {
  &-enter-active, &--leave-active {
    transition: opacity $transTime900ms, transform $transTime900ms;
  }

  &-enter, &--leave-to /* .list-leave-active до версии 2.1.8 */ {
    opacity: 0;
    transform: translateY(100px);
  }
}


.slide {
  &-enter-active {
    transition-duration: $transTime600ms;
    transition-timing-function: ease-in;
  }

  &-leave-active {
    transition-duration: $transTime600ms;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }

  &-enter-to, &-leave {
    max-height: 1000px;
    overflow: hidden;
  }

  &-enter, &-leave-to {
    overflow: hidden;
    max-height: 0;
  }
}

.list{
  &-enter-active, &--leave-active {
    transition: opacity $transTime900ms, transform $transTime900ms;
  }

  &-enter, &--leave-to /* .list-leave-active до версии 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
}

/****************************************** transitions **********************************************/
// Transition example
//
//.modal {
//  &-enter {
//    transform: translateY(100%);
//  }
//
//  &-enter-to {
//    transform: translateY(0);
//  }
//
//  &-enter-active {
//    transform: translateY(0);
//  }
//
//  &-leave {
//    transform: translateY(0);
//  }
//
//  &-leave-to {
//    transform: translateY(100%);
//  }
//
//  &-leave-active {
//    transition: all 300ms $easeOutCubic;
//  }
//}
