.title {
  font-family: $font-accent--2;
  font-weight: $regular;

  &--md {
    font-size: 36px;
    line-height: 156%;

    @include is-tablet {
      font-size: 30px;
    }

    @include is-mobile {
      font-size: 24px;
      line-height: 175%;
    }
  }

  &--lg {
    font-size: 48px;
    line-height: 150%;

    @include is-tablet {
      font-size: 42px;
      line-height: 135%;
    }

    @include is-mobile {
      font-size: 34px;
      line-height: 135%;
    }
  }
}

.text {
  font-family: $font-default;
  font-weight: $regular;

  &--sm {
    font-size: 14px;
    line-height: 175%;
  }

  &--md {
    font-size: 16px;
    line-height: 175%;

    @include is-tablet {
      line-height: 145%;
    }
  }

  &--lg {
    font-size: 20px;
    line-height: 160%;

    @include is-tablet {
      font-size: 18px;
    }

    @include is-mobile {
      font-size: 18px;
    }
  }

  &--extra-lg {
    font-size: 24px;
    line-height: 150%;

    @include is-tablet {
      font-size: 21px;
    }
  }
}