.link-card {
  width: 300px;

  &__font {
    &--text {
      color: $gray;
    }

    &--button {
      font-weight: $bold;
      color: $blue-dark;
    }
  }

  &__image {
    width: 100%;
    height: 354px;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 24px;
  }

  &__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin-bottom: 12px;
  }

  &__button {
    margin-top: 28px;
    -webkit-appearance: none;
    background: none;
    box-shadow: none;
    border: none;
    display: inline-flex;
    align-items: center;
    padding: 0 0 8px 0;
    gap: 12px;
    white-space: nowrap;
    position: relative;

    $button: &;

    @include hover {
      &:after {
        max-height: 3px;
      }

      #{$button}-ico {
        transform: translateX(4px);
      }
    }

    &:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      max-height: 1px;
      transform-origin: center bottom;
      background: $blue-dark;
      transition: max-height $transTime ease;
    }

    &-ico {
      width: 24px;
      transition: transform $transTime ease;
    }
  }
}