.home-page {

  &__services {
    margin-top: 84px;
  }

  &__list {
    margin-top: 199px;

    @include is-tablet {
      margin-top: 100px;
    }
  }

  &__advantages {
    margin-top: 80px;

    @include is-tablet {
      margin-top: 100px;
    }
  }

  &__testimonials {
    margin-top: 197px;

    @include is-tablet {
      margin-top: 100px;
    }
  }

  &__tabs {
    margin-top: 132px;
  }

  &__blog {
    margin-top: 150px;

    @include is-tablet {
      margin-top: 100px;
    }
  }

  &__feedback {
    margin-top: 124px;

    @include is-tablet {
      margin-top: 100px;
    }
  }


}