.home-page {

  &__services {
    margin-top: 84px;
  }

  &__list {
    margin-top: 199px;
  }

  &__advantages {
    margin-top: 80px;
  }

  &__testimonials {
    margin-top: 197px;
  }

  &__tabs {
    margin-top: 132px;
  }

  &__blog {
    margin-top: 150px;
  }

  &__feedback {
    margin-top: 124px;
  }


}