.home-page {

  &__services {
    margin-top: 84px;
  }

  &__list {
    margin-top: 182px;
  }

  &__advantages {
    margin-top: 120px;
  }

  &__testimonials {
    margin-top: 100px;
  }

  &__tabs {
    margin-top: 132px;
  }

  &__blog {
    margin-top: 156px;
  }

  &__feedback {
    margin-top: 124px;
  }
}