.button {
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  border-radius: 56px;
  text-align: center;
  background: none;

  $parent: &;

  @include hover {
    opacity: 0.8;
  }

  &__font {
    &--text {
      font-weight: $bold;
    }
  }

  &--md {
    padding: 16px 56px;
    height: 60px;

    #{$parent} {
      &__font {
        &--text {
          font-size: 20px;
          line-height: 140%;
        }
      }
    }
  }

  &--sm {
    padding: 8px 40px;
    height: 40px;

    #{$parent} {
      &__font {
        &--text {
          font-size: 16px;
          line-height: 150%;
        }
      }
    }
  }

  &--filled {
    &--white {
      background: $white;
      color: $blue-dark;
    }

    &--blue {
      background: $blue-dark;
      color: $white;
    }

    &--green {
      background: $green;
      color: $blue-dark;
    }
  }

  &--bordered {
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 2px solid;
      border-radius: 56px;
    }

    &--white {
      color: $white;
    }

    &--blue {
      color: $blue-dark;
    }
  }
}