.testimonials-section {
  padding: 104px 0 88px 0;
  background: $blue-dark;

  @include is-tablet {
    padding: 50px 0;
  }

  &__font {
    &--title {
      color: $white;
    }
  }

  &__container {
    max-width: 1130px;
  }

  &__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 67px;
    gap: 15px;
  }

  &__title {
    width: 100%;
    max-width: 716px;
  }

  &__nav {
    display: flex;
    gap: 28px;
    position: relative;
    bottom: -11px;
    right: -51px;

    @include is-desktop-1240 {
      position: static;
    }
  }
}