.blog-section {

  &__font {
    &--subtitle{
      color: $gray;
    }
  }

  &__head {
    width: 100%;
    max-width: 842px;
    text-align: center;
    margin: 0 auto 80px;
  }

  &__title {
    margin-top: 12px;
  }

  &__wrapper {
    width: 100%;
    max-width: 998px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 50px;
  }

  &__card {
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 84px;
  }
}