.header {
  padding-top: 56px;

  @include is-tablet {
    padding-top: 26px;
  }

  &__logo {
    display: block;
    width: 162px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 10px;
  }
}