.feedback-section {

  &__font {
    &--title {
      color: $white;
    }
  }

  &__container {
    padding: 72px;
    background: $blue-dark;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    max-width: 1200px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      top: -1050px;
      right: -600px;
      width: 1293px;
      height: 1293px;
      border-radius: 50%;
      background: #1C3D5B;
    }
  }

  &__title {
    width: 100%;
    max-width: 716px;
    margin: 0 auto 48px;
    text-align: center;

  }

  &__wrapper {
    position: relative;
    z-index: 1;
    transition: opacity $transTime700ms ease, transform $transTime700ms ease;

    &--hide {
      transform: translateY(-100px);
      opacity: 0;
      visibility: hidden;
    }
  }

  &__submitted {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 252px;

    transform: translateY(-100px);
    opacity: 0;
    visibility: hidden;

    transition: opacity $transTime700ms ease, transform $transTime700ms ease;

    &--active {
      transform: none;
      opacity: 1;
      visibility: visible;
    }

    &-button {
      margin-top: 40px;
    }
  }
}