.advantages-section {

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1130px;
  }

  &__content {
    width: 500px;
    padding-top: 106px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    margin-bottom: 56px;
  }

  &__image {
    width: 100%;
    max-width: 444px;
    position: relative;
  }

  &__pic {
    width: 100%;
    border-radius: 24px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__chart {
    position: absolute;
    width: 291px;
    padding: 23px 32px;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.12);
    background: $white;
    border-radius: 12px;
    left: 44%;
    transform: translateX(-50%);
    bottom: -76px;
  }
}