.advantages-section {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1130px;
    gap: 15px;

    @include is-tablet {
      margin-bottom: 40px;
    }

    @include is-mobile {
      margin-bottom: 40px;
      flex-direction: column-reverse;
    }
  }

  &__content {
    width: 500px;
    padding-top: 106px;
    gap: 15px;

    @include is-tablet {
      padding-top: 0px;
    }

    @include is-mobile {
      width: auto;
      margin-top: 30px;
    }
  }

  &__title {
    margin-bottom: 60px;

    @include is-tablet {
      margin-bottom: 40px;
    }

    @include is-mobile {
      margin-bottom: 30px;
    }
  }

  &__list {
    margin-bottom: 56px;
  }

  &__image {
    width: 100%;
    max-width: 444px;
    position: relative;

    @include is-tablet {
      max-width: 40%;
    }
  }

  &__pic {
    width: 100%;
    border-radius: 24px;
  }

  &__item {
    margin-bottom: 23px;
  }

  &__chart {
    position: absolute;
    width: 291px;
    padding: 23px 32px;
    box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.12);
    background: $white;
    border-radius: 12px;
    left: 44%;
    transform: translateX(-50%);
    bottom: -160px;

    @include is-tablet {
      width: 201px;
      padding: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: -145px;
    }

    @include is-mobile {
      width: 201px;
      padding: 0;
      left: 60%;
      transform: translateX(-50%);
      bottom: -126px;
    }
  }
}